// Variables

$wwuBlue: rgb(43, 105, 178);
$wwuOrange: rgb(245, 127, 60);
$wwuGreen: rgb(101, 150, 83);

$links: rgb(238, 238, 238);
$subLinks: rgb(43, 105, 178);
$footerLinks: rgba(255, 255, 255, 0.589);
