<div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <div class="footer-col-wrapper">
            <img src="../../assets/images/tpd-pri-01.png" alt="Lock Logo" />
            <a href="https://tpd.com/privacy-policy/">Privacy Policy & Terms</a>
          </div>
        </div>
        <div class="col-md">
          <div class="footer-col-wrapper">
            <img src="../../assets/images/tpd-mail-01.png" alt="Lock Logo" />
            <a href="mailto:info@tpd.com">info@tpd.com</a>
          </div>
        </div>
        <div class="col-md">
          <div class="footer-col-wrapper">
            <img src="../../assets/images/tpd-tel-01.png" alt="Lock Logo" />
            <a href="tel:1-888-685-3530">1-888-685-3530</a>
          </div>
        </div>
        <div class="col-md">
          <div class="copyright-content">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-youtube"></i>
            <p>
              © 2020 The Personnel Department Ltd. dba. TPD®, Galt USA Ltd., TPD
              Resources Inc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
