@import "~novo-elements/styles/global/variables";
@import '../../mixins.scss';

.frame {
  display: flex;
  flex-flow: column;

  @include tablet() {
    margin-top: 133px;
  }

  .hero-container {
    margin-top: 35.2px;
    display: flex;
    width: 100%;
    background: #413c35;
    height: 300px;
    position: relative;

    .hero-content {
      display: flex;
      width: 100%;

      .hero-image {
        background: url(../../assets/images/TPD-job-board.jpeg);
        opacity: 0.6;
        background-position: center center;
        background-size: cover;
        background-repeat: repeat;
        width: 100%;

      }
      .hero-text {
        color: #fff;
        font-size: 47.6px;
        line-height: 65.45px;
        font-family: Roboto;
        font-weight: 700;
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 150px 20px 150px 20px;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.41);
      }
    }
  }

  app-sidebar {
    width: 30%;
    flex-grow: 0;
    height: 100%;
    max-width: 300px;
    min-width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 7px 0px;
  }
  .list {
    width: 80%;
    flex-grow: 1000;
    overflow-y: auto;
    height: 100%
  }

  @media only screen and (min-width: 768px) {
    app-sidebar {
      position: unset !important;
      width: 30% !important;
      max-width: 300px !important;
      box-shadow: unset;
    }
  }

}
div.error-state {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  align-items: center;
  width: 100%;
  justify-content: center;
  i {
    font-size: 6em;
    margin-bottom: .3em;
    &.bhi-caution {
      color: $negative;
    }
  }
  span {
    font-size: 1.4em;
  }
}
