@import './mixins.scss';

$link-color: #404040;
$background-color: #fff;
$font-weight: 400;
$font-family: 'Lato', Helvetica, sans-serif !important;
$secondary-font: Montserrat;
$nav-justification: space-between;

$header-height: 96px;
$header-width: 100%;
$font-size: 14px;
$primary-color: #ff6600;
$secondary-color: #005085;
$accent-color: #3399ff;
$copy-color: #323232;
$dark-blue: #005085;
$light-blue: #3399ff;
$dark-grey: #323232;
$shadow: 0 0 20px rgba(0,0,0,.15);
$logo-height: 38px;
$logo-width: 200px;
