/* You can add global styles to this file, and also import other style files */
@import "~novo-elements/novo-elements";
@import './index.scss';
@import './mixins.scss';

html {
  height: 100%;
  font-family: $font-family;
  font-weight: 300;
}

body {
  overflow-x: hidden;
  background-color: #FFF;
  height: 100%;
}

app-job-list {
  novo-loading {
  position: absolute;
  top: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  }
}

novo-file-input {
  width: 100%;
}

app-job-list {
  novo-list>div>novo-list-item   {
    border-bottom: unset;
    background: #fff;
    padding: 12px 15px 6px 15px;

    div.list-item {
      display: block !important;
      item-content i{
       color: $primary-color !important;
      }
      >item-header item-title {
        h6 {
          padding-bottom: 10px !important;

          @include tablet() {
            padding-bottom: unset !important;
          }
          a {
            color: $primary-color !important;
          }
        }
      }
    }
  }
}
novo-search {
  padding: 17px 17px 30px;
  > input[data-automation-id="novo-search-input"] {
    padding: 10px 10px;
    font-size: 1em;
  }
  button[theme="fab"][icon="bhi-search"] {
    background: #fff !important;
    width: 40px;
    height: 37px;
    min-height: unset;
    padding: 0;
    border: 1px solid rgba(24, 25, 26, 0.2);
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    &:hover {
      background: $primary-color !important;
      border: none;
      box-shadow: none;

      .flex-wrapper {
        i {
          color: #fff;
        }
      }
    }

    .flex-wrapper {
      i {
        font-size: 1em;
        line-height: 14px;
        padding: 0px;
        color: $primary-color;
      }
    }
  }
  &.active {
    max-width: 700px;
  }
}

app-job-details novo-card header{
  padding: 10px 20px 10px 20px !important;
  background-color: #BB5566;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: 500;
  min-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  color: white;
  i {
    font-size: 1em;
  }
  h3 {
    font-weight: 500 !important;
  }
}

.header{
  >header {
    h1 {
      color: #D9DADC;
    }
  }
}

.job-details {
  p {
    max-width: 100em;
  }
}

app-sidebar {
  novo-check-list {
    display: flex;
    flex-direction: column;
    max-height: 20em;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      background-color:#fff;
      height:4px;
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color:#fff
    }
    &::-webkit-scrollbar-thumb {
      background-color:#babac0;
      border-radius:4px;
    }
    label {
      color: #616666 !important;
      font-weight: 400;
    }
    .bhi-checkbox-filled {
      color: $primary-color !important;
    }
    div.checked label {
      color: $primary-color !important;
    }
    & [class*='-group']:hover label i.bhi-checkbox-empty {
      color: $primary-color !important;
    }

    [class*='-group']:hover span {
      color: #18191A !important;
    }

    [class*='-group']:hover label i:before {
      box-shadow: none !important;
    }
  }
  novo-search > input[data-automation-id="novo-search-input"] {
    background-color: white;
    border: none;
  }
  input[type=text] {
    border: 1px solid rgba(24, 25, 26, 0.2) !important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  novo-search.focused > button i, novo-search > button i {
    color: #fff;
  }
  novo-search > input:focus {
    border: 1px solid $primary-color !important;
  }
}

app-main-page {
  >novo-loading {
  position: absolute;
  top: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  }
}

app-apply-modal {
  novo-form {
    form {
      div.consent-form{
        display: flex;
        novo-control.checkbox {
          width: 50px;
          div.field-message.checkbox.error-hidden {
            display: none;
          }
          div.field-message.checkbox.error-shown {
            display: none;
          }
        }
        label.consent-checkbox-label {
          float: right;
          padding: 2em 0 0 0;
          span {
            color: #276ecc;
          }
        }
      }
      div.eeoc-form {
        novo-fieldset-header {
          margin-left: -3em;
          margin-right: -3em;
        }
      }
    }
  }
}

novo-search {
  > input {
    z-index: 8 !important;
  }
}

.has-background {
  background: #515151 !important;
}

button[theme="secondary"], button[theme="primary"] {
  color: #ffffff !important;
  font-size: 14px !important;
  background: $primary-color !important;
  border: 2px solid $primary-color !important;
  border-radius: 0px !important;
  transition: 0.3s;
  text-align: center !important;
  cursor: pointer;
  text-transform: none;
  font-family: $secondary-font;
  font-weight: 600 !important;

  &:hover, &:active, &:focus {
    box-shadow: none !important;
    background: #000 !important;
    border: 2px solid #000 !important;
  }
}

button[theme="secondary"], button[theme="dialogue"], button[theme="icon"], button[theme="standard"] {
  background: #fff !important;
  border: none !important;
  color: #5c6770 !important;
  font-family: $secondary-font !important;
  font-size: 14px !important;

  &:hover {
    color: $primary-color !important;
  }
}

.job-description-text {
  word-break: break-word;
  padding-top: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  p {
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px !important;
    line-height: 28px !important;
    color: #18191A !important;
    padding: 0 !important;

    strong {
      font-weight: 400 !important;
    }
  }
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 18px !important;
  }
}

header[theme] > section {
  height: 45px !important;
}
.novo-header {
  background: $primary-color !important;
  color: #fff !important;

  .header-title {
    font-family: $font-family !important;
    font-size: 18px !important;
    font-weight: 400;
  }
  .job-details:first-of-type {
    font-family: $font-family !important;
    font-size: 18px !important;
  }
  .job-details:nth-of-type(2) {
    color: #fff;
  }
  button[theme="icon"] {
    color: #fff !important;
    background: transparent !important;
    &:hover {
      color: #fff !important;
    }
  }
}

button[theme][theme='primary'][icon] i {
  background: none !important;
}

novo-file-input .file-input-group label.boxed,
.file-input-group:hover label.boxed {
  border: 2px dashed $primary-color !important;
}

novo-checkbox [class*='-group']:hover label i:before {
  box-shadow: none;
}
novo-checkbox [class*='-group']:hover {
  .bhi-checkbox-empty, .bhi-checkbox-filled {
    color: $primary-color !important;
  }
}

novo-checkbox [class*='-group'] {
  .bhi-checkbox-filled {
    color: $primary-color !important;
  }

}

.consent-checkbox-label a, .link {
  color: $primary-color !important;
}

novo-toast.success {
  background: $primary-color;
  font-family: $font-family;

  .toast-icon {
    background: none;
  }
}

novo-modal-container {
  overflow: auto;
}

.file-output-group {
  margin-top: 0 !important;
}

.file {
  .required-indicator {
    position: relative !important;
    top: -51px !important;
  }
}